<div class="container">
	<div class="row">
		<img id="about_image" src="../../assets/images/photo_1.png">
	</div>
	<div class="row">
			<h4>Responsive design gets a whole lot faster</h4>
			<p>A Framework for any device, medium, and accessibility. Foundation is a family of responsive front-end frameworks that make it easy to design beautiful responsive websites, apps and emails that look amazing on any device. Foundation is semantic, readable, flexible, and completely customizable. We’re constantly adding new resources and code snippets, including these handy HTML templates to help get you started!</p>
	</div>
</div>
