<div class="container">
	<div class="row">
	<div class="col-sm-12 col-md-6">
		<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
		  <div class="form-group">
		    <label for="InputName">Full Name</label>
		    <input type="text" class="form-control" name="fullName" [ngModel]='fullName' placeholder="Full Name" >
		  </div>
		  <div class="form-group">
		    <label for="InputEmail">Email address</label>
		    <input type="email" class="form-control" name="inputEmail" [ngModel]='inputEmail' aria-describedby="emailHelp" placeholder="Enter email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="Textarea">Comment</label>
		    <textarea class="form-control" id="textarea" name="textarea" [ngModel]="textarea" rows="3"></textarea>
		  </div>
		  <fieldset class="form-group">
		    <legend>Radio buttons</legend>
		    <div class="form-check">
		      <label class="form-check-label">
		        <input type="radio" class="form-check-input" name="optionsRadios" [(ngModel)]="rating" id="optionsRadios1" value="1" checked>
		       1 Star
		      </label>
		    </div>
		    <div class="form-check">
		    <label class="form-check-label">
		        <input type="radio" class="form-check-input" name="optionsRadios" [(ngModel)]="rating" id="optionsRadios2" value="2">
		        2 Stars
		    </label>
		    </div>
		    <div class="form-check">
		    <label class="form-check-label">
		        <input type="radio" class="form-check-input" name="optionsRadios" [(ngModel)]="rating" id="optionsRadios3" value="3">
		        3 Stars
		      </label>
		    </div>
		  </fieldset>
		  <div class="form-check">
		    <label class="form-check-label">
		      <input type="checkbox" class="form-check-input" [checked]="mycheckbox" (change)="mycheckbox = !mycheckbox">
		      Check me out
		    </label>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<div class="col-sm-12 col-md-6">
	<ul *ngFor="let comment of comments" style="list-style: none">
			<li (click) = "delete(comment._id)">
				<blockquote class="blockquote">
				  <div *ngIf="comment.rating == 1">
				  	<i  class="fa fa-star" aria-hidden="true"></i>
				  </div>
				  <div *ngIf="comment.rating ==2">
				  	<i *ngFor="let i of [1,2]" class="fa fa-star" aria-hidden="true"></i>
				  </div>
				  <div *ngIf="comment.rating == 3">
				  	<i *ngFor="let i of [1,2,3]" class="fa fa-star" aria-hidden="true"></i>
				  </div>
				  <p class="mb-0">{{comment.content}}</p>
				  <footer class="blockquote-footer">{{comment.fullName}}</footer>
				</blockquote>
			</li>
		</ul>
	</div>
	</div>
</div>
