<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
        
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

<footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3">
          <ul>
            <li><strong>INFO</strong></li>
            <li>Account</li>
            <li>Shipping</li>
            <li>Returns</li>
            <li>Contact Us</li>
            <li>Privacy Policy</li>
            <li>Become A Retailer</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3">
          <ul>
            <li><strong>NAVIGATE</strong></li>
            <li>Search</li>
            <li>About Us</li>
            <li>Gift Cards</li>
            <li>Stockist Locator</li>
            <li>Fabric Types</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3">
          <ul>
            <li><strong>FOLLOW US</strong></li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Pinterest</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3 end-col" >
          <ul>
            <li><strong>SUBSCRIBE</strong></li>
          </ul>
          <p>Signup to get the latest news...</p>
          <input class="control form-control" type="email" placeholder="Your Email"><br>
          <button class="control form-control">SIGN UP</button>
        </div>
    </div>
  </div>
  <div class="end-col">
    <p >© 2016</p>
  </div>
  </footer>
