<nav class="navbar navbar-fixed-top" role="navigation">
        <div id="navbar" class="container">
            <div id="navbarheader" class="navbar-header">
                <button type="button" class="pull-left navbar-toggle collapsed" (click)="toggleState()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="nav-brand">
                  <img src="../assets/images/logo-retina.png">
                </a>
            </div>
            <div class="navbar-collapse collapse" [ngClass] = "{ 'in' : isIn }">
                    <ul class="nav navbar-nav navbar-left">
                      <li><a>
                          <div [hidden] = "!flag">
                            <div class="input-group">
                                 <input type="text" class="form-control" placeholder="Search Store ...">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                 <span class="input-group-addon" (click)="showSearch()">X</span>
                            </div>
                          </div>
                          <div [hidden] = "flag">
                            <span class="glyphicon glyphicon-search" (click) = "showSearch()"> SEARCH</span>
                          </div>
                          </a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li >
                          <a href="#">
                          ACCOUNT <span class="glyphicon glyphicon-user"></span>
                          </a>
                        </li>
                    </ul>

                <div *ngIf="!isIn">
                  <br>
                  <br>
                </div>
                <hr>
                 
                      <ul class="sub-nav" >
                        <li ><a [routerLink]="['/']" (click)="tabClick()">
                            <span class="glyphicon glyphicon-home"
                             aria-hidden="true"></span> Home</a></li>
                        <li ><a [routerLink]="['/about']" (click)="tabClick()">
                            <span class="glyphicon glyphicon-info-sign"
                             aria-hidden="true"></span> About</a></li>
                       <!--  <li ><a (click)="tabClick()">
                             <span class="glyphicon glyphicon-list-alt"
                             aria-hidden="true"></span> 
                             Menu</a></li>
                         <li ><a [routerLink]="['/github', 'angular']" (click)="tabClick()">
                         <i class="fa fa-heart-o"></i> Github Repos</a></li> -->
                         <li ><a [routerLink]="['/contact']" (click)="tabClick()">
                         <i class="fa fa-envelope-o"></i> Contact Us</a></li>
                    </ul> 
                
            </div>
        </div>
    </nav> 

  <main>
    <router-outlet></router-outlet>
  </main>

<footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3">
          <ul>
            <li><strong>INFO</strong></li>
            <li>Account</li>
            <li>Shipping</li>
            <li>Returns</li>
            <li>Contact Us</li>
            <li>Privacy Policy</li>
            <li>Become A Retailer</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3">
          <ul>
            <li><strong>NAVIGATE</strong></li>
            <li>Search</li>
            <li>About Us</li>
            <li>Gift Cards</li>
            <li>Stockist Locator</li>
            <li>Fabric Types</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3">
          <ul>
            <li><strong>FOLLOW US</strong></li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Pinterest</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3 end-col" >
          <ul>
            <li><strong>SUBSCRIBE</strong></li>
          </ul>
          <p>Signup to get the latest news...</p>
          <input class="control form-control" type="email" placeholder="Your Email"><br>
          <button class="control form-control">SIGN UP</button>
        </div>
    </div>
  </div>
  <div class="end-col">
    <p >© 2016</p>
  </div>
  </footer>
