<div class=".container-fluid">
	<div class="row">
		<div class="col-12 col-md-12">
			<a href="https://www.google.com/">
			<img src="https://cdn.shopify.com/s/files/1/0761/1851/t/13/assets/home-slider-slide-1.jpg?13441418710006620241" width="100%">
			</a>
		</div>
	</div>   
</div>
<h1>Little Uniorn Favorites</h1>	
<div class="session_a">
		<div class="row">
			<div class="col-sm-6">
				<a href="#">
					<div class="col-12 img-small" style= "background-image: url(https://cdn.shopify.com/s/files/1/0761/1851/t/13/assets/collage-01.jpg?13441418710006620241); background-size: cover; background-position: 50% 50%">
					 </div>
				</a>
				<a href="#">
					<div class="col-12 img-small" style= "background-image:url(https://cdn.shopify.com/s/files/1/0761/1851/t/13/assets/collage-02.jpg?13441418710006620241); background-size: cover; background-position: 50% 50%">
					</div>
				</a>
			</div>
			<div class="col-sm-6">
				<a href="#">
					<div class="col-12 img-large" style=" background-image: url(https://cdn.shopify.com/s/files/1/0761/1851/t/13/assets/collage-03.jpg?13441418710006620241); background-size: cover; background-position: 50% 50%">
					</div>
				</a>
			</div>
		</div>
</div>
